################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/TodoList.API/TodoList.API/bin/Debug/netcoreapp2.1
/TodoList.API/TodoList.API/obj
/TodoList.API/TodoList.API.Tests/bin/Debug/netcoreapp2.1
/TodoList.API/TodoList.API.Tests/obj
/TodoList.API/.vs
